<head>
    <title>Timestamp microservice</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="shortcun icon" href="img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">
</head>
<div class="contained">
    <h1>Timestamp microservice</h1>
    <h3>
        You can pass a string as a parameter, if that string contains either a unix
        timestamp or a natural language date we'll return both in a json format.
    </h3>
    <h4 class="mrg-top">Example usage:</h2>
    <p class="snipet">
        https://timestamp-microservice-353.herokuapp.com/api/December%2015,%202015
    </p>
    <p class="snipet">
        https://timestamp-microservice-353.herokuapp.com/api/1527041574298
    </p>
    
    <h4 class="mrg-top">Example output:</h2>
    <p class="snipet">
        { "unix": 1450137600, "natural": "December 15, 2015" }
    </p>
</div>
