body {
    font-family: 'Roboto Mono', monospace;
}

h3 { 
    font-weight: 400; 
    color: grey;
}

.contained {
    max-width: 820px;
    width: 100%;
    margin: 0 auto;
}

.mrg-top {
    margin-top: 60px;
}

.snipet {
    background: #e8fff7;
    padding: 6px;
    border-radius: 6px;
    color: #005b3b;
}